<header class="header-6">
    <div class="branding">
        <a class="nav-link" routerLink="/">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Ruby Clarity</span>
        </a>
    </div>
    <div class="header-nav active">
        <a headerHightLight class="nav-link" routerLink=""><span class="nav-text">Home</span></a>
        <a headerHightLight *ngIf = "authService.checkIfUserIsAdmin()" class="nav-link" routerLink="/admin/panel"><span class="nav-text">Admin</span></a>
    </div>
    <div class="header-actions">
        <a headerHightLight *ngIf="!authService.checkIfLoggedIn()" class="nav-link" routerLink="/login"><span class="nav-text">Login</span></a>
        <a headerHightLight *ngIf="authService.checkIfLoggedIn()"  class="nav-link" routerLink="" (click)="logout()"><span class="nav-text">Logout</span></a>
        <!-- <a headerHightLight *ngIf="authService.checkIfLoggedIn()" routerLink="/profile/{{getId()}}">Profile<span lass="nav-text">Profile</span></a> -->
        <a routerLink="" class="nav-link nav-icon"><clr-icon shape="cog"></clr-icon></a>
    </div>
</header>